.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.nav {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: 600;
}
.logo span {
    color: #33a593;
}
.nav .nav__list {
    display: flex;
    column-gap: 20px;
}

/* .account {
    color: #ffff;
} */
.account__list {
    display: flex;
    column-gap: 20px;
}
button {
    padding: 0.75rem;
    border: 1px solid #b4bdbc;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;
}
.login {
    border: none;
}
button:hover {
    cursor: pointer;
}
.signup:hover {
    background-color: #33a593;
}
