.menu__card {
    min-width: 245px;
    min-height: 340px;
    margin-right: 15px;
    border: 1px solid #ececec;
}
.menu__price {
    font-weight: 700;
    font-size: 0.938rem;
    color: #33a593;
    margin: 5px 0 8px;
}
.menu__image img {
    width: 100%;
    pointer-events: none;
    /* height: auto; */
}
.menu__data {
    padding: 0.25rem 1rem 1.25rem;
}
.menu__layout {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: flex-start;
}
.menu__time {
    font-size: 0.813rem;
    margin-right: 3rem;
}
.menu__time-minute {
    color: #061210;
    font-weight: 600;
}
.menu__type-session {
    color: #061210;
    font-weight: 600;
}
