* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

li {
    list-style-type: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding: 4.5rem 0 2rem;
}
.main {
    overflow: hidden;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.scroll__header {
    background-color: #061210;
    box-shadow: 0 0 4px rgb(234 255 252 / 50%);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
