* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section {
    padding: 4.5rem 0 2rem;
}
.main {
    overflow: hidden;
}
.grid {
    display: grid;
    gap: 1.5rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
